<html>
  <head>
    <title>Pea Pool</title>
  </head>
  <body>
    <h1>Welcome to Pea Pool</h1>
    <h3><%= active_games %> active games</h3>
    <h3><a href="/game/new">Start a new game</a></h3>
  </body>
</html>
